<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>StackPad</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css"          rel="stylesheet">
  </head>
  <body class="container-fluid">



    <!-- CONTAINER STACKPAD STARTS -->
    <script type="text/template" id="template-stackpad">
      <div class="row">
        <div id="app-container"  class="col-xs-5 col-md-4 col-lg-3 ">No Container</div>
        <div id="app-content"    class="col-xs-7 col-md-8 col-lg-9">
          <br/>
          <div class="jumbotron text-center">
            <h1>No item selected.</h1>
          </div>
        </div>
      </div>
    </script>
    <!-- CONTAINER STACKPAD END -->

    <!-- CONTAINER STACK STARTS -->
    <script type="text/template" id="template-container-stack">
      <div id="container">

        <div class="panel panel-default">
          <div class="panel-heading">
            <% if ( parent != '/' ) { %>
              <a class="app-return hide" href="#"><span class="glyphicon glyphicon-chevron-left"></span></a>
            <% } %>
            <%= name %>

            <div class="btn-group pull-right" role="group" aria-label="...">
              <button type="button" class="app-toggle-add-item btn btn-default btn-xs">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
              <button type="button" class="app-toggle-add-container btn btn-default btn-xs">
                <span class="glyphicon glyphicon-briefcase"></span>
              </button>
              <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-sort"></span>
              </button>
              <button type="button" class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-wrench"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a class="app-sort-byname" href="#">By Name     </a></li>
                <li><a class="app-sort-bydate" href="#">By Date     </a></li>
                <li><a class="app-sort-bytype" href="#">By Type     </a></li>
                <li role="separator" class="divider"></li>
                <li><a class="app-sort-byelements" href="#">By Elements </a></li>
                <li><a class="app-sort-bypriority" href="#">By Priority </a></li>
              </ul>
            </div>
          </div>
          <div class="panel-body">

            <div id="dialogs" class="panel">
              <div class="panel-collapse collapse" id="collapse-new-item">
                <div class="panel-body form-horizontal">
                  <div class="form-group">
                    <input id="item-name" type="text" class="form-control" placeholder="Item Name" />
                    <br/>
                    <select id="item-type" class="form-control">
                      <option value="1">Plain Text</option>
                      <option value="2">...</option>
                    </select>
                    <br/>
                    <button class="app-add-item btn btn-primary btn-block">Add New Item</button>
                  </div>
                </div>
              </div>

              <div class="panel-collapse collapse" id="collapse-new-container">
                <div class="panel-body form-horizontal">
                  <div class="form-group">
                    <input id="container-name" type="text" class="form-control" placeholder="Container Name" />
                    <br/>
                    <textarea id="container-desc" class="form-control" placeholder="Container Description (Optional)" maxlength=140 rows="3"></textarea>
                    <br/>
                    <button class="app-add-container btn btn-primary btn-block">Add New Container</button>
                  </div>
                </div>
              </div>

              <div>
                <%= description %>
              </div>
            </div>

            <ul id="items" class="list-group"></ul>
            <% if ( elements == 0 ) {%>
              <div class="jumbotron text-center">
                No items added
              </div>
            <% } %>
          </div>
        </div>
      </div>
    </script>
    <!-- CONTAINER STACK ENDS -->

    <!-- ITEM TEMPLATE START -->
    <script type="text/template" id="template-item">
      <div class="app-item">
        <div>
          <span class="app-item-details glyphicon glyphicon-chevron-down">  </span>
          <% if ( type == 0 ) { %>
            <span class="glyphicon glyphicon-th-large"></span>
          <% } else if ( type == 1 ) { %>
            <span class="glyphicon glyphicon-file"></span>
          <% } else { console.log ( type ); } %>
          <strong> <%= name %> </strong>
          <span class="app-item-delete glyphicon glyphicon-trash pull-right">  </span>
        </div>
        <div class="item-details text-right collapse">
          <table class="table">
            <tr>
              <td>Created</td>
              <td><%= new Date( created ).toLocaleString ( ) %></td>
            </tr>
            <% if ( type == 0 ) { %>
            <tr>
              <td>Elements</td>
              <td>
                
                  <%= elements %>
              </td>
            </tr>
            <% } %>
            <tr>
              <td>Priority</td>
              <td>
                <span class="app-priority-inc glyphicon glyphicon-plus">  </span>
                <%= priority %>
                <span class="app-priority-dec glyphicon glyphicon-minus">  </span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </script>
    <!-- ITEM TEMPLATES ENDS -->



    <!-- ITEMPLAINTEXT TEMPLATE STARTS -->
    <script type="text/template" id="template-plain-text">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <div class="navbar-brand">
              <a class="app-return" href="#"><span class="glyphicon glyphicon-remove"></span></a>
              <%= name %>
            </div>

          </div>
        </div>
      </nav>

      <div class="btn-toolbar">
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="app-save btn btn-default">
            <span class="glyphicon glyphicon-floppy-disk"></span>
          </button>

          <button type="button" class="app-cut btn btn-default">
            <span class="glyphicon glyphicon-scissors"></span>
          </button>

          <button type="button" class="app-copy btn btn-default">
            <span class="glyphicon glyphicon-copy"></span>
          </button>

          <button type="button" class="app-paste btn btn-default">
            <span class="glyphicon glyphicon-paste"></span>
          </button>
        </div>

        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="app-undo btn btn-default">
            <span class="glyphicon glyphicon-arrow-left"></span>
          </button>

          <button type="button" class="app-redo btn btn-default">
            <span class="glyphicon glyphicon-arrow-right"></span>
          </button>
        </div>

        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="app-zoomin btn btn-default">
            <span class="glyphicon glyphicon-zoom-in"></span>
          </button>

          <button type="button" class="app-zoomout btn btn-default">
            <span class="glyphicon glyphicon-zoom-out"></span>
          </button>
        </div>
      </div>

      <br/>

      <textarea class="app-plain-text form-control" rows="1"><%= content %></textarea>

    </script>
    <!-- ITEMPLAINTEXT TEMPLATE ENDS -->


    <!-- APPLICATION JAVASCRIPT COMPONENTS -->
    <script>
      var jQuery = require ( 'jquery' ); // WTF!
    </script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/StackPad.js"></script>
  </body>
</html>
