<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>StackPad</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css"          rel="stylesheet">
  </head>
  <body class="container-fluid">



    <!-- CONTAINER STACKPAD STARTS -->
    <script type="text/template" id="template-stackpad">
      <div class="row">
        <div id="app-container"  class="col-xs-5 col-md-4 col-lg-3 ">No Container</div>
        <div id="app-content"    class="col-xs-7 col-md-8 col-lg-9">
          <br/>
          <div class="jumbotron text-center">
            <h1>No item selected.</h1>
          </div>
        </div>
      </div>
    </script>
    <!-- CONTAINER STACKPAD END -->

    <!-- CONTAINER STACK STARTS -->
    <script type="text/template" id="template-container-stack">
      <div id="container">

        <div class="panel panel-default">
          <div class="panel-heading">
            <% if ( parent != '/' ) { %>
              <a class="app-return hide" href="#"><span class="glyphicon glyphicon-chevron-left"></span></a>
            <% } %>
            <%= name %>

            <div class="btn-group pull-right" role="group" aria-label="...">
              <button type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#container" data-target="#collapse-new-item" aria-expanded="true">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
              <button type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#container" data-target="#collapse-new-container" aria-expanded="true">
                <span class="glyphicon glyphicon-briefcase"></span>
              </button>
              <button type="button" class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-sort"></span>
              </button>
              <button type="button" class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-wrench"></span>
              </button>
            </div>
          </div>
          <div class="panel-body">
            <p>Stack items</p>

            <div id="dialogs" class="panel">
              <div class="panel-collapse collapse" id="collapse-new-item">
                <div class="panel-body form-horizontal">
                  <div class="form-group">
                    <input id="item-name" type="text" class="form-control" placeholder="Name" />
                    <select id="item-type" class="form-control">
                      <option value="1">Plain Text</option>
                      <option value="2">...</option>
                    </select>
                    <button class="app-add-item btn btn-primary btn-block">Add Item</button>
                  </div>
                </div>
              </div>

              <div class="panel-collapse collapse" id="collapse-new-container">
                <div class="panel-body form-horizontal">
                  <div class="form-group">
                    <input id="container-name" type="text" class="form-control" placeholder="Name" />
                    <button class="app-add-container btn btn-primary btn-block">Add Container</button>
                  </div>
                </div>
              </div>
            </div>

            <ul id="items" class="list-group"></ul>
          </div>
        </div>
      </div>
    </script>
    <!-- CONTAINER STACK ENDS -->

    <!-- ITEM TEMPLATE START -->
    <script type="text/template" id="template-item">
      <div class="app-item">
        <% if ( type == 0 ) { %>
          <span class="glyphicon glyphicon-th-large"></span>
          <span class="badge pull-right"><%= elements %></span>
        <% } else if ( type == 1 ) { %>
          <span class="glyphicon glyphicon-file"></span>
        <% } else { console.log ( type ); } %>
        <%= name %>
      </div>
    </script>
    <!-- ITEM TEMPLATES ENDS -->



    <!-- ITEMPLAINTEXT TEMPLATE STARTS -->
    <script type="text/template" id="template-plain-text">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <div class="navbar-brand">
              <a class="app-return" href="#"><span class="glyphicon glyphicon-remove"></span></a>
              <%= name %>
            </div>

          </div>
        </div>
      </nav>

      <div class="btn-toolbar">
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="app-save btn btn-default">
            <span class="glyphicon glyphicon-floppy-disk"></span>
          </button>

          <button type="button" class="app-cut btn btn-default">
            <span class="glyphicon glyphicon-scissors"></span>
          </button>

          <button type="button" class="app-copy btn btn-default">
            <span class="glyphicon glyphicon-copy"></span>
          </button>

          <button type="button" class="app-paste btn btn-default">
            <span class="glyphicon glyphicon-paste"></span>
          </button>
        </div>

        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="app-undo btn btn-default">
            <span class="glyphicon glyphicon-arrow-left"></span>
          </button>

          <button type="button" class="app-redo btn btn-default">
            <span class="glyphicon glyphicon-arrow-right"></span>
          </button>
        </div>

        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="app-zoomin btn btn-default">
            <span class="glyphicon glyphicon-zoom-in"></span>
          </button>

          <button type="button" class="app-zoomout btn btn-default">
            <span class="glyphicon glyphicon-zoom-out"></span>
          </button>
        </div>
      </div>

      <br/>

      <textarea class="app-plain-text form-control" rows="1"><%= content %></textarea>

    </script>
    <!-- ITEMPLAINTEXT TEMPLATE ENDS -->


    <!-- APPLICATION JAVASCRIPT COMPONENTS -->
    <script>
      var jQuery = require ( 'jquery' ); // WTF!
    </script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/StackPad.js"></script>
  </body>
</html>
